[Unit]
Description=Gunicorn instance to serve flask-gunicorn-app
After=network.target

[Service]
User=foodrev
Group=www-data
WorkingDirectory=/home/foodrev/flask-gunicorn-app
Environment="PATH=$HOME/flask-gunicorn-app/flaskenv/bin"
ExecStart=$HOME/flask-gunicorn-app/flaskenv/bin/gunicorn --workers 3 --bind unix:myproject.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target
